body{
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 96px;
    background: #272F54;
}
.header-img img{
    height: 100px;
    object-fit: cover;
    margin-left: 15px;
}
.header-img ul{
    float: right;
    list-style: none;
    display: inline-block;
}
.header-img ul li{
    list-style: none;
    display: inline-block;
    line-height: 60px;
    margin-right: 10px;
    color: white;
    padding-right: 10px;
}
.content{
    padding: 0 10px;
}
.box{
    width: 500px;
    height: 500px;
    background-color: orange;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: red;
}
input{
    width: 80%; 
}
p{
    text-align: left;
    margin-left: 46px;
}
.checkbox{
   text-align: left;
}
.name{
    margin-top: 20px;
    
}
.content{
    margin-top: 20px;
    padding: 10px;
}
.submit input{
    font-weight: bold;
    color: black;
    background: blue;
}
.submit input:hover{
    font-weight: bold;
    background: aquamarine;
    color: white;
}